
body {
    font-family: 'Oswald', sans-serif;
}


/*=============================================
=            Header                           =
=============================================*/
header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo {
    height: 24px;
}

header a {
    color: white;
    margin-left: 24px;
}

header a:hover {
    color: white;
}

header a:visited {
    color: white;
}

#menu-icon {
    width: 32px;
}

.solid-header {
    position: fixed;
    background-color: #c69572;
    transition: background-color 0.6s ease;
}


/*=============================================
=            Hero Section                     =
=============================================*/
#hero-section {
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4133329c;
    height: 100vh;
}

#hero-logo {
    width: 256px;
}

#arrow-down {
    position: absolute;
    bottom: 64px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 64px;
}


/*=============================================
=            Intro Section                    =
=============================================*/

#intro-section {background: white;}




/*=============================================
=            About Section                    =
=============================================*/

#about-bg-1 {
    background-image: url(img/great-place.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 480px;
}

#about-bg-2 {
    background-image: url(img/fresh-beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 640px;
    position: relative;
}


@media (max-width: 768px){
    #about-bg-2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #080707bd;
   
}
}

/*=============================================
=            Menu Section                     =
=============================================*/

#menu-section {
    background: white;
}



/*=============================================
=            Contant Info Section            =
=============================================*/

#contact-info-bg-1 {
    background:linear-gradient(to right, #36313782, #36313782), url(img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}
#contact-info-bg-2 {
    background-color: #312423a8;
}


/*=============================================
=            Map Section            =
=============================================*/







/*=============================================
=           Footer             =
=============================================*/
footer {
    background: #312423;
    
}
footer a img {
    width: 32px;
}

@media (max-width: 768px){
    footer {
        text-align: center;
    }
    #social-icons {
        text-align: center !important;
        margin-top: 8px;
    }
}


/*=============================================
=            Mobile Menu                      =
=============================================*/

#mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #312423a8;
    z-index: 2;
    display: none;
}

#mobile-menu a {
    color: white;
}

#mobile-menu a:hover {
    color: rgb(165, 161, 161);
}

#close-btn {
    position: absolute;
    right: 29px;
    top: 12px;
    width: 36px;

}


